---
---

$font: Interr, sans-serif

@import colors
@import font

$black: #{var(--neutral-950)}
$white: #{var(--neutral-50)}

body
  background-color: $black
  margin: 0
  padding-top: 2.5em
  padding-left: 1.34em
  padding-right: 1.34em
  font-family: $font
  font-size: 20px
  font-weight: 300
  line-height: 135%
  color: $white

h1
  font-size: 20pt
  font-weight: 500

img.userpic
  float:left
  width: 4em
  height: 4em
  border-radius: 100%

.container
  max-width: 66%
  margin: auto auto
  display: flex
  flex-flow: row wrap
  row-gap: 1.43em
  column-gap: 1.43em

.whole
  flex-grow: 2

.half
  min-width: 20em
  flex-grow: 1
