<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
	<meta charset="utf-8">

    <title>{{ page.title }}</title>
    
    {% if page.permalink != "/404.html" %}
	<link rel="canonical" href="https://{{ site.domain }}{{ page.url }}">
	{% endif %}

	{% if page.desc %}
	<meta name="description" content="{{ page.desc }}">
	{% endif %}

	{% if page.og-image %}
	<meta property="og:image" content="{{ page.og-image }}">
    {% endif %}
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" sizes="144x144" href="/android-chrome.png">

    <link rel="stylesheet" href="/main.css?{{ site.time | date: '%d%m%y%H%M%S' }}">

    <noscript>
        <link rel="stylesheet" href="/assets/fonts.css?{{ site.time | date: '%d%m%y%H%M%S' }}">
    </noscript>
</head>
<body>
{% if page.permalink != "/404.html" %}
<div class="emailbox aligncenter-mob"><a href="mailto:hello&#64;danielverdugo.com" class="email">Contact&nbsp;me</a></div>
{% endif %}
<main class="wrap">
