@font-face {
    font-family: 'Interr';
    src: url("/assets/Inter.woff2") format("woff2 supports variations"),
         url("/assets/Inter.woff2") format("woff2-variations");
    font-weight: 300 550;
}