@media (max-width: 600px) {
    .emailbox {
        top: 89%;
    }
    .aligncenter-mob {
        text-align: center
    }
    a.email {
        box-shadow: 0px 13px 25px rgba(87, 110, 126, 0.25);
    }
    .centerme-mob {
        margin-left: auto;
        margin-right: auto;
    }
}

