@media (max-width: $max-width) {
    .emailbox {
        top: 89%;
    }
    .aligncenter-mob {
        text-align: center
    }
    .centerme-mob {
        margin-left: auto;
        margin-right: auto;
    }
    .hireme {
        width: 110%;
        border-radius: 1em 0 0 1em;
    }
    .centered_story {
      max-width: 100%
    }
    .topbar {
      display: none
    }
    .bottombar {
      display: flex
    }
}
