@media (max-width: $max-width) {
    .emailbox {
        top: 89%;
    }
    .aligncenter-mob {
        text-align: center
    }
    .centerme-mob {
        margin-left: auto;
        margin-right: auto;
    }
    .hireme {
        width: 110%;
        border-radius: 1em 0 0 1em;
    }
    .grid .unit {
        margin-bottom: 0
    }
    .grid {
        margin-bottom: 0.625em
    }
}

