$black: #000
$white: #fff
$link: #1873ff
$hover: #E97018
$background: #111111
$text-color: #fff
$font-family: 'Gerbera', Arial, Helvetica, sans-serif
$font: 110% $font-family

$dark-grey: #666666

$max-width: 780px
