$link: #1873ff
$hover: #E97018

$white: #ffffff
$black: #111111
$p-color: #a0a0a0

$font-family: aktiv-grotesk, sans-serif
$font: 120% $font-family

$dark-grey: #666666
$light-grey: #C4C4C4

$max-width: 900px
$wider-width: 1600px
